<div class="mt-4 mb-3">
    <!--<input name="filterProduct" [(ngModel)]="filterProduct" class="form-control" type="search" placeholder="remera, buzo, jean...">-->
      <mat-form-field class="example-full-width">
        <mat-label>Buscar</mat-label>
        <input [formControl]= 'search' matInput spellcheck="false" autocomplete="off">
      </mat-form-field>
</div>

<h2 class="titulo mt-5">Categorias</h2>
<div class="form-check mt-3 ml-3">
    <mat-checkbox class="">Hombre</mat-checkbox>
  </div>
  <div class="form-check mt-3 ml-3">
      <mat-checkbox class="">Mujer</mat-checkbox>
  </div>
  <div class="form-check mt-3 ml-3">
      <mat-checkbox class="">Niños</mat-checkbox>
  </div>
